*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: #181e36;
    font-family: Roboto, sans-serif;
}
.header {
    height: 60px;
    background-color:#232a4c;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    line-height: 60px;
    z-index: 1;
}

.body {
    margin-top: 100px;
}

.header .nav-left {
    text-decoration: none;
    color: #fff;
    font-size: 24px;
    font-weight: 500;
}

.nav-right {
    color: #2cc8e5;
}

.nav-right-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #fff;
}

.body-heading {
    color: #2cc8e5;
}

.body-element {
    padding: 20px 250px;
}

.audio {
    width: 250px;
    height: 40px;
}

.body-element h3 {
    color: #fff;
}

.body-element p {
    color: #fff;
    line-height: 24px;
}

.footer {
    margin-top: -20px;
    padding: 20px 0;
}

.box-stations h3, 
.box-apps h3,
.box-contact h3 {
    color: #2cc8e5;
    font-size: 20px;
    font-weight: 500;
}

.box-stations p, 
.box-apps p,
.box-contact p {
    color: #fff;
}

.img-download {
    width: 150px;
    padding: 5px 5px;
}
